*~
*.exe
*.pdf
*.png
*.htm
*.log
*.in
*.out
*.o
*.gcno
*.jar
*.class
smallDataSet/
largeDataSet/
zyxDataSet/
greedy
base
raw
main
tshare
zshare
bb
kit
judge
hot
hotp
bila
effg
judges
tshare_dist
tshare_km
fang
ming
datas
datal
