*~
*.exe
*.pdf
*.png
*.htm
*.log
*.in
*.out
*.o
*.gcno
*.log
*.pyc
*.tmp
OPT
OPTMem
Simple
SimpleMem
Guide
Polar
PolarMem
Lig
Lip
Edge
Hung
HungMem
GuideH
GuideHMem
Dinic
DinicF
GuideD
GuideDF
Sha
ShaMem
OPreTo
OPreToMem
newg
